<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stayverse</title>
</head>
<body>
    <h3>Edit a  Listing..</h3>
    <form method="POST" action="/listings/<%=listing._id%>?_method=PUT">
        <input type="text" name="listing[title]" placeholder="Enter Title" value="<%=listing.title%>"><br><br>
        <textarea type="text" name="listing[description]" placeholder="Enter description" rows="10" cols="40"><%=listing.description%></textarea><br><br>
        <input type="text" name="listing[image]" placeholder="Enter image url"  value="<%=listing.image.url%>"><br><br>
        <input type="number" name="listing[price]" placeholder="Enter price"  value="<%=listing.price%>"><br><br>
        <input type="text" name="listing[location]" placeholder="Enter location"  value="<%=listing.location%>"><br><br>
        <input type="text" name="listing[country]" placeholder="Enter country"  value="<%=listing.country%>"><br><br>
        <button>edit</button>
    </form>
</body>
</html>